nav {
  display: flex;
  width: 85%;
  height: 115px;
  border: 1px solid #D1D2D3;
  background-color: #D1D2D3;
  margin: auto;
}

.header-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.search-bar {
  height: 45px;
  width: 215px;
  border: 1px solid #666666;
  background-color: #F2F2F2;
  font-size: 18px;
  padding-left: 38px;
  font-weight: 300;
  background-size: 20px 20px;
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 8px;
}

.corner-icon {
  width: 70px;
  height:70px;
  border: 1px solid #666666;
  border-radius: 100px;
  background-color: #F2F2F2;
}

.links-search-container {
  display: flex;
  align-items: center;
  width: 85%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.header-link-one,
.header-link-two,
.header-link-three {
  font-weight: 300;
  font-size: 16px;
  color: #666666;
  padding-right: 30px;
}

.header-link-four {
  display: none;
}

@media screen and (max-width: 875px) {
  nav {
    align-items: center;
    position: relative;
    border: none;
  }

  .header-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  .links-search-container {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    margin: auto;
  }

  .header-link-one,
  .header-link-two,
  .header-link-three {
    flex-direction: column;
    width: auto;
    padding: 30px 0;
    font-size: 25px
  }

  .header-link-four {
    display: inline-flex;
    font-size: 30px;
    color: #666666;
    font-weight: 300;
    cursor: pointer;
  }

  .drop-down {
    flex-direction: column;
    position: absolute;
    width: 100%;
    display: flex;
    top: 115px;
    left: 0;
    background-color: #F2F2F2;
    align-items: flex-start;
  }

  .search-bar {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 30px 52px;
    background-size: 30px 30px;
  }

  .button-down{
    margin-bottom: 400px;
  }
}
